{% block content %}
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
    </form>
    {% if lines is defined %}
        {{ dump(lines) }}
    {% endif %}
{% endblock %}